<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold text-white" id="MembershipDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Exercise" asp-action="Index">Exercises</a>
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Workout" asp-action="Index">Workouts</a>
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Progress" asp-action="Index">Progress</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Login" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button type="submit" class="nav-link btn btn-link font-weight-bold text-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="MembershipDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Login</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Exercise" asp-action="Index">Create New User</a>
            </div>
        </li>
    }
</ul>